<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/css/gamerProfile.css">
        <script src="/scripts/gamerProfile/gamerProfile.js"></script>
        <script src="/scripts/global/global.js"></script>
    </head>
    <body onload="show()">
        <h1>Arcades Assemble</h1>
        <div class="dropdown">
            <div class="dropbtn">
                <div class="avatar-top"><img src="/resources/gamerProfile/images/sisu.png" width="50px" height="50px"></div>
                <div class="dropdown-content">
                    <!-- <a href="gamerprofile.html">Edit Profile</a> -->
                    <a href="/games">Exit</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="avatar"><img src="/resources/gamerProfile/images/sisu.png" width="80%" height="90%"></div>
            <div class="info">
                <p id="ign">Sisu</p>
                <span id="name">Name: Sisu The Dragon</span>
                <br>
                <span id="email">Email: sisu@thelastdragon.com</span>  
            </div>
        </div>
        <div class="scores">
            <div class="square">
                <img src="/resources/homepage/flappybird.png" class="image">   
                <div class="text"><p>Flappy Bird<br> High Score</p></div>
            </div>
            <div class="square">
                <img src="/resources/homepage/2048.png" class="image"> 
                <div class="text"><p>2048<br> High Score</p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/snake.png" class="image">  
                <div class="text"><p>Snake<br> High Score</p></div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/tetris.jpg" class="image">  
                <div class="text"><p>Tetris<br> High Score</p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/guess-the-color.jpg" class="image">  
                <div class="text"><p>Guess the Color!<br>High Score</p></div>   
            </div>       
        </div>
    </body>
</html>